.inputfile {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 0.1px;
    height: 0.1px;
    outline: none;
    opacity: 0;
}

.waves-effect.waves-light.btn.upload{
    background-color: #1CB94E;
    color: white;
    font-size: 16px;
    padding-bottom: 30px;
    width: 50%;
    cursor: pointer;
    text-transform: none;
    margin-left: 40px;
}
.image-upload{
    margin-top: 20px;
    border: 1px dashed black;
    position: relative;
    cursor: pointer;
}
.file-upload-icon{
    text-align: center;
    font-size: 30px;
    padding: 60px;
}
.file-upload-input{
    height: 1px;
    width: 1px;
    outline: none;
    opacity: 0;
    display: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
}
.uploadbutton{
    width: 20px;
}

  .image-preview {
    width: 290px;
    height: 290px;
    border-radius: 5px;
    cursor: all-scroll;
    object-fit: scale-down;
 }
 .image-preview:hover{
     opacity: 0.5;
 }
 .removeButton{
    font-size: 20px;
    font-weight: 500;
    top : 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    color: white;
    opacity: 0;
    background-color: black;
}
.removeButton:hover{
    opacity: 0.8;
    cursor: pointer;
}
.edittext{
    font-size: 20px;
}
  [class*='close-'] {
    color: white;
    padding: 2px;
    background-color: red;
    font: 9px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
  }
  
  .close-classic:after {
    content: 'X'; /* ANSI X letter */
  }
  .imageContainer{
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
  }
  .itemTextContainer{
      color: black;
      padding-left: 50px;
      font-size: 12px;
  }