.listing{
    margin: 40px;
    border: 1px solid black;
}
.imageComponent{
    width:200px;
    height: 200px;
}
.item{
    margin: 10px 0;
    width: 200px;
    display: inline-block;
}
.title{
    font-weight: 300;
    font-size: 32px;
    margin: 20px 0;
    border-bottom: 0.5px solid black;
}
.fields{
    margin: 20px 0;
    border-bottom: 0.5px solid black;
}
.fieldTitle{
    font-size: 25px;
}
.browser-default.autocomplete{
    margin-top: 8px;
    margin-bottom: 0px;
}
.autofillcomponent{
    margin-bottom: 8px;
}
.fieldTextBox{
    width: 100%;
}
.suggestions{
    border: 1px solid #ccc;
    background-color: white;
    margin: 0 0;
}
.suggestions li{
    padding: 8px;
}
.suggestions li:hover{
    cursor: pointer;
    background-color: #ccc;
    font-weight: 500;
}
.desctextarea{
    min-height: 200px;
    background-color: white;
    padding: 20px;
    margin: 10px 0px;
    border: 1px solid black;
}
.fieldTextBox input{
    height: 10%;
}
.Sellinput{
    background-color: white
}
.categorydropdown{
    width: 50%;
    margin-top: 8px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    background-color: white;
    border: 0.5px solid black;
    cursor: pointer;
}
.subcategorydropdown{
    width: 50%;
    outline: none;
    margin-top: 8px;
    padding: 8px;
    box-sizing: border-box;
    background-color: white;
    border: 0.5px solid black;
    cursor: pointer;
}
.sizedropdown{
    width: 50%;
    outline: none;
    margin-top: 8px;
    padding: 8px;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    border: 0.5px solid black;
}
.placeholdertext {
    text-align: left;
    display: inline;
}
.downicon{
    float: right;
}
.categorylist{
    width: 100%;
    padding: 2px;
    margin: 0;
    cursor: pointer;
}
.sizelist{
    width: 100%;
    padding: 2px;
    margin: 0;
    cursor: pointer;
}
.sizelist:hover{
    font-weight: 600;
    background-color: #E5E5E5;
}
.categorylist:hover{
    font-weight: 600;
    background-color: #E5E5E5;
}
.autocompleteInput{
    border: 1px solid #999;
    background-color: white;
    padding: 0.5rem;
    width: 300px;
}
.subcategories{
    width: 25%;
    background-color: white;
    float: left;
    border: 1px solid black;
}
.types{
    width: 25%;
    background-color: white;
    border: 1px solid black;
}
.typelist{
    cursor: pointer;
}
.typelist:hover{
    color: red;
    font-weight: 600;
    background-color: #E5E5E5;
}
tr{
    border: none;
}
.subcategorylist{
    margin: 0;
    cursor: pointer;
    background-color: white;
    text-align: left;

}
.cat{
    width: 50%;
    display: inline;
}
.subcategorylist:hover{
    font-weight: 600;
}
.categorylistcomponent{
    margin-bottom: 8px;
}
.subcategorylistcomponent{
    margin-bottom: 8px;
}
.priceinput{
    margin: 0;
}
.priceinput input{
    text-align: left;
    padding-left: 30px;
    border: 0.5px solid black;
}
.browser-default.item{
    border: 0.5px solid black;
}
.browser-default.autocomplete{
    border: 0.5px solid black;
    color: black;
}
.priceinput span{
    position: relative;
    float: left;
    top: 13px;
    left: 20px;
    font-size: 18px;
}
.browser-default.condition{
    width: 50%;
    margin: 8px 0;
    border: 1px solid black;
}
.browser-default.international{
    width: 50%;
    margin: 10px;
    border: 1px solid black;
}
.browser-default.price{
    width: 50%;
}
.gender{
    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 0;
    border: 0.5px solid black;
}
.gender li{
    display: inline;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;

}
.gender li:hover{
    font-weight: 600;
    border-bottom: 2px solid red;
}
.custommodal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1030;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.custommodalcontent{
background-color: white;
position: fixed;
left: 25%;
top: 25%;
width: 500px;
z-index: 1040;
}
.closebutton{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.donebutton{
    background-color:black;
    height: 40px;
    width: 70px;
    margin: 10px 215px;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
    color: white;
    border: 0.5px solid black;
    cursor: pointer;
}
.modalheader{
    border-bottom: 0.5px solid #ccc;
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}
.modalcontroller{
    border: 0.5px solid #ccc;
    width: 350px;
    height: 50px;
    margin: 10px 75px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}
.removePhoto{
    text-align: center;
    color: #ccc;
    font-weight: 500;
}
.removePhoto:hover{
    color: #D6D6D6
}
.rotatebutton{
    margin: 10px;
}
.fal.fa-undo.rotate{
    cursor: pointer;
}
.replacePhoto{
    display: none;
}
.PhotoLink{
    cursor: pointer;
    font-size: 18px;
}
.picture{
}
.canvasContainer{
    background-color: #cccccc;
    border: 0.5px solid #ccc;
    width: 350px;
    height: 350px;
    margin: 10px 75px;

}
.cr-boundary{
    width: 350px;
    height: 350px;
}
.browser-default.paypal{
    border: 1px solid black;
}
@media screen and (max-width: 768px){
    .browser-default.condition{
        width: 100%;
    }
    .browser-default.international{
        width: 100%;
        margin: auto;
    }
    .browser-default.price{
        width: 100%;
    }
    .gender{
        width: 100%;
    }
    .canvasContainer{
        width: 100%;
        margin: auto;
    }
    .cr-boundary{
        width: 100%;
        margin: auto;
    }
    .priceinput span{
        position: relative;
        float: left;
        top: -38px;
        left: 10px;
        font-size: 18px;
    }
}